.list-heading {
  text-align: center;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: goldenrod;
  font-size: x-large;
  flex-wrap: wrap;
  font-style: italic;
}
